@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link href="~/Content/HomeIndex.css" rel="stylesheet" type="text/css" />
    <title>Parallax effice</title>
</head>

<body>

    <div class="box1">
        <div class="content">
            <div class="row">
                <h2>Are You Alone? No!</h2>
                <p1>
                    <a href="https://today.yougov.com/topics/lifestyle/articles-reports/2019/07/30/loneliness-friendship-new-friends-poll-survey">
                        Millennials is the most lonely generation amongst Gen X and the Baby Boomers, 30% millennials have no best friends while 27% say that they have no close friends.
                    </a>
                </p1>
                <p1>
                    <a href="https://www.japantimes.co.jp/news/2016/09/07/national/japan-home-541000-young-recluses-survey-finds/#.XWR2WugzbIU">
                        There are more than half a million people within the age group of 15 to 35 have been at home for at least 6 months and haven’t interacted with anyone.
                    </a>
                </p1>
                <h3>What is loneliness?</h3>
                <p2>
                    Loneliness is commonly associated with negative feelings like feeling isolated, depressed, stressed or anxious. The dictionary meaning of loneliness is sadness because of not having any company or friends. A person usually feels lonely when they have not spoken to anyone for a very long time or have not been around people. There are instances when a person tends to feel lonely even when they are around people. It is not about the quantity of friends you have in life but the quality matters.
                </p2>
            </div>

        </div>
    </div>

    <section>
        <div class="content">
            <h1>Signs of Loneliness</h1>
            <p>It is difficult for you to have a good sleep. </p>
            <p>You are not able to sacrifice the time you spend on social media.</p>
            <p>You eat eating a lot or you have not eaten a proper meal since a long time.</p>
            <p>You have broken the record of binge watching movies or a series of you favourite episodes. </p>
            <p3>You feel alienated or alone when you are around people, be it at your workplace or even on any public transport.</p3>
        </div>
    </section>

    <div class="box2">
        <h1></h1>
    </div>

    <section>
        <div class="content">
            <h1>Little Tips</h1>
            <p>Keeping your mind busy will divert your feelings of loneliness and isolation.</p>
            <p>You Can Try : </p>
            <p>Practice yoga and meditation.</p>
            <p>Be around animals. Adopt a pet to keep you company.</p>
            <p>Find activities where you surround yourself with people.</p>
            <p>Design a routine for yourself including the things you enjoy.</p>
            <p>Spend time for yourself and not focus on knowing the lives of the people in your phone.</p>
            <p3>Try helping the community as you get to interact with people and help someone as well.</p3>
        </div>
    </section>

    <div class="box3">
        <h1> </h1>
    </div>

    <section>
        <div class="content">
            <h1>Always Reach Out</h1>
            <p>Reach out to people and speak to them about your feelings. Keeping the feelings to yourself will have a negative impact on your mind and body leading to other problems.</p>
            <p>Talk to someone who will help you become happy again.</p>
            <p>Here are some websites you can find help: </p>
            <p>
                <a href="https://www.beyondblue.org.au/">BeyondBlue</a>
            </p>
            <p>
                <a href="https://headspace.org.au/">Headspace</a>
            </p>
            <p>
                <a href="https://au.reachout.com/">ReachOut</a>
            </p>
            <p3>
                <a href="https://www.sane.org/"> Sane Australia</a>
            </p3>

        </div>
    </section>

    <div class="box4">
        <h1></h1>
    </div>


</body>
</html>